modules = ["nodejs-20", "web", "angular-node-20", "bash", "nodejs-23", "nodejs-22", "nodejs-19", "nodejs-18", "nodejs-16", "nodejs-14", "typescript-language-server", "docker", "nodejs-with-prybar-18"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3001
externalPort = 80

[workflows]
runButton = "Phase 2 Development"

[[workflows.workflow]]
name = "Phase 2 Development"
author = 41555641
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
